<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<form action="add" method="post" style="margin-left: 30%;margin-right: 30%;">
    用户名：<input type="text" name="username" placeholder="请输入用户名" value="admin" ><br><hr>
    密码：<input type="password" name="password" placeholder="请输入密码" value="123456"><br><hr>
    手机号：<input type="text" name="phone" placeholder="请输入手机号" value="1399999999" ><br><hr>
    邮箱：<input type="text" name="email" placeholder="请输入邮箱" value="99999999@qq.com" ><br><hr>
    <input type="submit" value="提交">
</form>

</body>
</html>